<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.cheffyuser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <application
        android:name=".CheffyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".cart.activities.MapTrackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailPages.Theme" />
        <activity
            android:name=".profile.activities.ChefProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailPages.Theme" />
        <activity android:name=".create_account.activities.SetPasswordActivity" />
        <activity android:name=".create_account.activities.VerifyEmailActivity" />
        <activity android:name=".create_account.activities.ForgotPasswordActivity" />
        <activity android:name=".profile.activities.PlaceSelectorActivity" />
        <activity android:name=".home.activities.BaseActivity" />
        <activity android:name=".custom_order.OrderCompleteActivity" />
        <activity android:name=".custom_order.CustomOrderPostActivity" />
        <activity android:name=".custom_order.CustomOrderActivity" />
        <activity android:name=".cart.activities.CustomOrderCheckoutActivity" />
        <activity android:name=".cart.activities.CustomOrderListActivity" />
        <activity android:name=".profile.activities.ShippingActivity" />
        <activity android:name=".home.activities.ReceiptDetailsActivity" />
        <activity android:name=".home.activities.FoodAddToCartActivity" />
        <activity
            android:name=".home.activities.FoodDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailPages.Theme" />
        <activity android:name=".home.activities.UploadFoodReceiptActivity" />
        <activity android:name=".home.activities.UploadFoodKitchenImageActivity" />
        <activity android:name=".home.activities.UploadFoodPlateImageActivity" />
        <activity android:name=".home.activities.PostFoodActivity" />
        <activity android:name=".create_account.activities.UserActivity" />
        <activity android:name=".create_account.activities.VerifyActivity" />
        <activity android:name=".create_account.activities.CreateAccountActivity" />
        <activity android:name=".cart.FoodTrackingActivity" />
        <activity
            android:name=".cart.activities.AddCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity android:name=".cart.activities.ItemCartActivity" />
        <activity
            android:name=".home.activities.BottomNavActivity"
            android:label="@string/title_activity_bottom_nav"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cart.activities.PaymentActivity" />
        <activity android:name=".profile.activities.EditProfileActivity" />
        <activity
            android:name=".home.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainActivity"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
            The API key for Google Maps-based APIs is defined as a string resource.
            (See the file "res/values/google_maps_api.xml").
            Note that the API key is linked to the encryption key used to sign the APK.
            You need a different API key for each encryption key, including the release key that is used to
            sign the APK for publishing.
            You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>